<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Web_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>CadastroEdsonWeb</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>Servicos_Ctr</display-name>
        <servlet-name>Servicos_Ctr</servlet-name>
        <servlet-class>br.com.hotel.ctr.Servicos_Ctr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servicos_Ctr</servlet-name>
        <url-pattern>/Servicos_Ctr</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Tarefa_Ctr</display-name>
        <servlet-name>Tarefa_Ctr</servlet-name>
        <servlet-class>br.com.hotel.ctr.Tarefa_Ctr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tarefa_Ctr</servlet-name>
        <url-pattern>/Tarefa_Ctr</url-pattern>
    </servlet-mapping>
     <servlet>
        <description/>
        <display-name>Servico_Tarefa_Ctr</display-name>
        <servlet-name>Servico_Tarefa_Ctr</servlet-name>
        <servlet-class>br.com.hotel.ctr.Servico_Tarefa_Ctr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servico_Tarefa_Ctr</servlet-name>
        <url-pattern>/Servico_Tarefa_Ctr</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Quartos_Ctr</display-name>
        <servlet-name>Quartos_Ctr</servlet-name>
        <servlet-class>br.com.hotel.ctr.Quartos_Ctr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Quartos_Ctr</servlet-name>
        <url-pattern>/Quartos_Ctr</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Funcionario_Ctr</display-name>
        <servlet-name>Funcionario_Ctr</servlet-name>
        <servlet-class>br.com.hotel.ctr.Funcionario_Ctr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Funcionario_Ctr</servlet-name>
        <url-pattern>/Funcionario_Ctr</url-pattern>
    </servlet-mapping>
</web-app>
